html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5841f;
  box-sizing: border-box;
}

.container {
  position: relative;
  padding: 16.66% 20px 0;
  box-sizing: border-box;
  max-width: 465px;
  margin: 0 auto;
}

h1 {
  text-align: right;
  margin: 75px 0 60px;
}

h1 a {
  color: white;
  text-decoration: none;

}

.links {
  position: relative;
  padding-top: 60px;
}

.links img.bg {
  max-width: 100%;
}
.instagram {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 16.67%;
}

.instagram iframe {
  border:none;
  position: absolute;
  width:100%;
  height: 100%;
}

.ji-tumblr-photos {
  margin: 0 -3px;
}

.ji-tumblr-photos a img {
  width: 16.66%;
  height: auto;
  margin: 0 !important;
}


.ji-tumblr-photos a img {
  max-width: 100%;
  padding: 0 3px;
  box-sizing: border-box;
}

.addthis_toolbox {
  position: absolute;
  right: -2px;
  bottom: 0;
  padding-left: 30%;
}

.addthis_toolbox a {
  margin: 0 3px;
}

.twitter {
  /*margin-top: 75px;*/
}

#tweets {
  position: relative;
  top: 60px;
  font-size: 21px;
  padding: 0 0 25px 0;
  color:#404333;
}

#tweets ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#tweets .user a span {
  font-size: 18px;
  line-height: 20px;
}

#tweets .user span span {
  font-weight: bold;
}

#tweets .user img {
  float: left;
  margin: 5px 10px 100px 0;
}

#tweets .tweet a {
  color: #555;
  opacity: .75;
}

#tweets a {
  color:#eae8f4;
  text-decoration: none;
}

#tweets p {
 display: block;
 margin: 0;
 background: url();
}

#tweets p a {
  word-break: break-all;
}

#tweets .timePosted {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
  text-align: right;
  opacity: .5;
}
